### ** Compile predicted data L1 to L2**

#### Load Libraries

In [1]:
from numpy.random import seed
seed(1)
import numpy as np
import os
import pandas as pd

#### Define Custome Functions

In [2]:
def data_rotate(data):
    data_len = len(data["KX"])
    # create extended data
    column_list = data.columns.values.tolist()
    zero_data = np.zeros(shape=(len(data),len(column_list)))
    zero_data = pd.DataFrame(zero_data, columns=column_list)
    data_ext = pd.concat([data, zero_data, zero_data], ignore_index=True)
    # Rotate and combine data
    # large K dataset
    data_ext['KX'] = pd.concat([data['KX'], data['KY'], data['KZ']], ignore_index=True)
    # small k in X Directions
    data_ext['kx1'] = pd.concat([data['kx1'], data['ky1'], data['kz1']], ignore_index=True)
    data_ext['kx2'] = pd.concat([data['kx2'], data['ky5'], data['kz2']], ignore_index=True)
    data_ext['kx3'] = pd.concat([data['kx3'], data['ky3'], data['kz5']], ignore_index=True)
    data_ext['kx4'] = pd.concat([data['kx4'], data['ky7'], data['kz6']], ignore_index=True)
    data_ext['kx5'] = pd.concat([data['kx5'], data['ky2'], data['kz3']], ignore_index=True)
    data_ext['kx6'] = pd.concat([data['kx6'], data['ky6'], data['kz4']], ignore_index=True)
    data_ext['kx7'] = pd.concat([data['kx7'], data['ky4'], data['kz7']], ignore_index=True)
    data_ext['kx8'] = pd.concat([data['kx8'], data['ky8'], data['kz8']], ignore_index=True)
    # small k in Y Directions
    data_ext['ky1'] = pd.concat([data['ky1'], data['kx1'], data['ky1']], ignore_index=True)
    data_ext['ky2'] = pd.concat([data['ky2'], data['kx5'], data['ky2']], ignore_index=True)
    data_ext['ky3'] = pd.concat([data['ky3'], data['kx3'], data['ky5']], ignore_index=True)
    data_ext['ky4'] = pd.concat([data['ky4'], data['kx7'], data['ky6']], ignore_index=True)
    data_ext['ky5'] = pd.concat([data['ky5'], data['kx2'], data['ky3']], ignore_index=True)
    data_ext['ky6'] = pd.concat([data['ky6'], data['kx6'], data['ky4']], ignore_index=True)
    data_ext['ky7'] = pd.concat([data['ky7'], data['kx4'], data['ky7']], ignore_index=True)
    data_ext['ky8'] = pd.concat([data['ky8'], data['kx8'], data['ky8']], ignore_index=True)
    # small k in Z Directions
    data_ext['kz1'] = pd.concat([data['kz1'], data['kz1'], data['kx1']], ignore_index=True)
    data_ext['kz2'] = pd.concat([data['kz2'], data['kz5'], data['kx2']], ignore_index=True)
    data_ext['kz3'] = pd.concat([data['kz3'], data['kz3'], data['kx5']], ignore_index=True)
    data_ext['kz4'] = pd.concat([data['kz4'], data['kz7'], data['kx6']], ignore_index=True)
    data_ext['kz5'] = pd.concat([data['kz5'], data['kz2'], data['kx3']], ignore_index=True)
    data_ext['kz6'] = pd.concat([data['kz6'], data['kz6'], data['kx4']], ignore_index=True)
    data_ext['kz7'] = pd.concat([data['kz7'], data['kz4'], data['kx7']], ignore_index=True)
    data_ext['kz8'] = pd.concat([data['kz8'], data['kz8'], data['kx8']], ignore_index=True)
    # porosity
    data_ext['P'] = pd.concat([data['P'], data['P'], data['P']], ignore_index=True)
    data_ext['p1'] = pd.concat([data['p1'], data['p1'], data['p1']], ignore_index=True)
    data_ext['p2'] = pd.concat([data['p2'], data['p5'], data['p2']], ignore_index=True)
    data_ext['p3'] = pd.concat([data['p3'], data['p3'], data['p5']], ignore_index=True)
    data_ext['p4'] = pd.concat([data['p4'], data['p7'], data['p6']], ignore_index=True)
    data_ext['p5'] = pd.concat([data['p5'], data['p2'], data['p3']], ignore_index=True)
    data_ext['p6'] = pd.concat([data['p6'], data['p6'], data['p4']], ignore_index=True)
    data_ext['p7'] = pd.concat([data['p7'], data['p4'], data['p7']], ignore_index=True)
    data_ext['p8'] = pd.concat([data['p8'], data['p8'], data['p8']], ignore_index=True)
    # eff. porosity
    data_ext['EP'] = pd.concat([data['EP'], data['EP'], data['EP']], ignore_index=True)
    data_ext['ep1'] = pd.concat([data['ep1'], data['ep1'], data['ep1']], ignore_index=True)
    data_ext['ep2'] = pd.concat([data['ep2'], data['ep5'], data['ep2']], ignore_index=True)
    data_ext['ep3'] = pd.concat([data['ep3'], data['ep3'], data['ep5']], ignore_index=True)
    data_ext['ep4'] = pd.concat([data['ep4'], data['ep7'], data['ep6']], ignore_index=True)
    data_ext['ep5'] = pd.concat([data['ep5'], data['ep2'], data['ep3']], ignore_index=True)
    data_ext['ep6'] = pd.concat([data['ep6'], data['ep6'], data['ep4']], ignore_index=True)
    data_ext['ep7'] = pd.concat([data['ep7'], data['ep4'], data['ep7']], ignore_index=True)
    data_ext['ep8'] = pd.concat([data['ep8'], data['ep8'], data['ep8']], ignore_index=True)
    # case-name
    data_ext['case-name'] = pd.concat([data['case-name'], data['case-name'], data['case-name']], ignore_index=True)
    # add directions
    data_ext.rename(columns = {'KY':'direction'}, inplace = True)
    ones = pd.Series(np.ones(data_len))
    data_ext['direction'] = pd.concat([ones, ones*2, ones*3], ignore_index=True)
    # drop remaining features
    data_ext = data_ext.drop(columns=['KZ', 'c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8'])
    
    return data_ext

#### Load Data - Update

In [3]:
# List data filenames
rock_type = 'BrSS'                                                                           #update, options: BrSS, BSS, KLS
model = 'pinn_loss'                                                                        #update, options: pinn_loss, pinn_lambda, analytical
folder = "sim_results_predicted"
level = '2'                                                             
# For Filtering
filter_data = 'false' # when used there is an issue in data upscaling                      #update
dpp = 5 # delta [%] in porosity   (5 should be best)
##
##
small_cubes_results_file = "./"+folder+"/"+rock_type+"_300_kxyz_results_"+model
large_cubes_results_file = "./"+folder+"/"+rock_type+"_600_kxyz_results"
large_small_cubes_map_info_file = "./"+folder+"/"+rock_type+"_600_300_map_info"
##
##
# Load data files
large_cubes_results = pd.read_csv(large_cubes_results_file+".csv")
small_cubes_results = pd.read_csv(small_cubes_results_file+".csv")
cubes_map_info = pd.read_csv(large_small_cubes_map_info_file+".csv")
##
# Prepare data
large_cubes_results = large_cubes_results.drop(columns=['M. time[s]', 'S. Time[s]'])
small_cubes_results = small_cubes_results.drop(columns=['M. time[s]', 'S. Time[s]'])
cubes_map_info = cubes_map_info.astype({'c1': 'int', 'c2': 'int', 'c3': 'int', 'c4': 'int','c5': 'int', 'c6': 'int', 'c7': 'int', 'c8': 'int'})
##
# List data heads
display(small_cubes_results.head()) 
display(large_cubes_results.head())
display(cubes_map_info.head())

   case-name  Porosity  Eff. Porosity   K(x)[D]   K(y)[D]   K(z)[D]
0        1.0  0.192573       0.186276  1.370518  1.341323  1.406573
1        3.0  0.193239       0.190980  1.688085  1.431300  1.740610
2        5.0  0.202113       0.199161  1.656004  1.772880  1.886217
3       13.0  0.214707       0.212279  1.862628  2.201888  2.494776
4       15.0  0.211278       0.208762  1.976658  2.482610  2.310467

   case-name  Porosity  Eff. Porosity  K(x)[D]  K(y)[D]  K(z)[D]
0          1  0.203290       0.195858   2.0640   2.3188   2.2892
1          3  0.200972       0.193614   2.0488   2.2914   2.2151
2          5  0.201519       0.193641   2.0148   2.2800   2.1974
3          7  0.202835       0.195556   2.0999   2.3295   2.2449
4          9  0.201671       0.193953   2.0351   2.2749   2.1776

   case-name  c1  c2   c3   c4    c5    c6    c7    c8
0          1   1  13  205  217  3469  3481  3673  3685
1          2   2  14  206  218  3470  3482  3674  3686
2          3   3  15  207  219  3471  3483  3675  3687
3          4   4  16  208  220  3472  3484  3676  3688
4          5   5  17  209  221  3473  3485  3677  3689

#### Data Processing

In [4]:
# Data Processing
##
# Filter data
if filter_data == 'true':
    # Filter data from ep > 0.5 & k < 0
    # small cubes data
    p = small_cubes_results['Porosity']
    ep = small_cubes_results['Eff. Porosity']
    small_cubes_results['dpp'] = np.abs(p-ep)*100/p
    small_cubes_results = small_cubes_results[(small_cubes_results['dpp'] < dpp)]
    small_cubes_results = small_cubes_results.drop(columns=['dpp'])
    #
    small_cubes_results = small_cubes_results[(small_cubes_results['Eff. Porosity'] < 0.5)]
    small_cubes_results = small_cubes_results[(small_cubes_results['K(x)[D]'] > 0)]
    small_cubes_results = small_cubes_results[(small_cubes_results['K(y)[D]'] > 0)]
    small_cubes_results = small_cubes_results[(small_cubes_results['K(z)[D]'] > 0)]
    # large cubes data
    P = large_cubes_results['Porosity']
    EP = large_cubes_results['Eff. Porosity']
    large_cubes_results['dpp'] = np.abs(P-EP)*100/P
    large_cubes_results = large_cubes_results[(large_cubes_results['dpp'] < dpp)]
    large_cubes_results = large_cubes_results.drop(columns=['dpp'])
    
    #
    large_cubes_results = large_cubes_results[(large_cubes_results['Eff. Porosity'] < 0.5)]
    large_cubes_results = large_cubes_results[(large_cubes_results['K(x)[D]'] > 0)]
    large_cubes_results = large_cubes_results[(large_cubes_results['K(y)[D]'] > 0)]
    large_cubes_results = large_cubes_results[(large_cubes_results['K(z)[D]'] > 0)]
##
##
# Check duplicate data
large_cubes_results_duplicates_sum = large_cubes_results['case-name'].duplicated().sum()
small_cubes_results_duplicates_sum = small_cubes_results['case-name'].duplicated().sum()
large_cubes_results_duplicates = large_cubes_results.loc[large_cubes_results['case-name'].duplicated(), :]
small_cubes_results_duplicates = small_cubes_results.loc[small_cubes_results['case-name'].duplicated(), :]
# Print Summary
print("Number of large cubes duplicates: "+str(large_cubes_results_duplicates_sum))
print("Number of small cubes duplicates: "+str(small_cubes_results_duplicates_sum))

Number of large cubes duplicates: 0
Number of small cubes duplicates: 0

#### Compile Data

In [5]:
# Merge large cubes with map
merge_large_map = pd.merge(large_cubes_results, cubes_map_info, on = 'case-name', how = 'left') 
#
# Combine data
num_large_cubes = len(large_cubes_results)
combined_data = pd.DataFrame(columns=['case-name', 'P', 'EP','KX','KY','KZ', 
                                      'c1', 'p1', 'ep1', 'kx1', 'ky1', 'kz1',
                                      'c2', 'p2', 'ep2', 'kx2', 'ky2', 'kz2',
                                      'c3', 'p3', 'ep3', 'kx3', 'ky3', 'kz3',
                                      'c4', 'p4', 'ep4', 'kx4', 'ky4', 'kz4',
                                      'c5', 'p5', 'ep5', 'kx5', 'ky5', 'kz5',
                                      'c6', 'p6', 'ep6', 'kx6', 'ky6', 'kz6',
                                      'c7', 'p7', 'ep7', 'kx7', 'ky7', 'kz7',
                                      'c8', 'p8', 'ep8', 'kx8', 'ky8', 'kz8',], index=range(num_large_cubes))
#
# Combine data
#
# load large cubes results
combined_data['case-name'] = merge_large_map['case-name']
combined_data['P'] = merge_large_map['Porosity']
combined_data['EP'] = merge_large_map['Eff. Porosity']
combined_data['KX'] = merge_large_map['K(x)[D]']
combined_data['KY'] = merge_large_map['K(y)[D]']
combined_data['KZ'] = merge_large_map['K(z)[D]']
combined_data['c1'] = merge_large_map['c1']
combined_data['c2'] = merge_large_map['c2']
combined_data['c3'] = merge_large_map['c3']
combined_data['c4'] = merge_large_map['c4']
combined_data['c5'] = merge_large_map['c5']
combined_data['c6'] = merge_large_map['c6']
combined_data['c7'] = merge_large_map['c7']
combined_data['c8'] = merge_large_map['c8']
#
combined_data.head() 
#
# get small cubes lists
c1_list = merge_large_map['c1']
c2_list = merge_large_map['c2']
c3_list = merge_large_map['c3']
c4_list = merge_large_map['c4']
c5_list = merge_large_map['c5']
c6_list = merge_large_map['c6']
c7_list = merge_large_map['c7']
c8_list = merge_large_map['c8']
#
# loop to build combined data
m = 1
for list in ([c1_list, c2_list, c3_list, c4_list, c5_list, c6_list, c7_list, c8_list]):
    n = 0
    for i in list:
        p = "p"+str(m)
        ep = "ep"+str(m)
        kx = "kx"+str(m)
        ky = "ky"+str(m)
        kz = "kz"+str(m)
        condition = str(i in small_cubes_results['case-name'].values)
        if condition == "True":
            combined_data.loc[n, p] = np.array(small_cubes_results.loc[small_cubes_results['case-name'] == i, 'Porosity'])[0]
            combined_data.loc[n, ep] = np.array(small_cubes_results.loc[small_cubes_results['case-name'] == i, 'Eff. Porosity'])[0]
            combined_data.loc[n, kx] = np.array(small_cubes_results.loc[small_cubes_results['case-name'] == i, 'K(x)[D]'])[0]
            combined_data.loc[n, ky] = np.array(small_cubes_results.loc[small_cubes_results['case-name'] == i, 'K(y)[D]'])[0]
            combined_data.loc[n, kz] = np.array(small_cubes_results.loc[small_cubes_results['case-name'] == i, 'K(z)[D]'])[0]
        n = n + 1
    m = m + 1   
#
# List data head
display(combined_data.head())
##
##
## Filter Data from NAN
#
# look for cubes with no avaible results
nan_rows = combined_data[combined_data.isna().any(axis=1)]
print("The following cubes has no complete results: \n" + str(nan_rows))
#
# Filter data from nans 
combined_data_red = combined_data.dropna()
nan_rows_red = combined_data_red[combined_data_red.isna().any(axis=1)]
#
# Filter data from zeros
combined_data_red = combined_data_red[combined_data_red.loc[:]!=0].dropna()
#
# Filter data from negative values
for cols in combined_data_red.columns.tolist()[1:]:
    combined_data_red = combined_data_red[combined_data_red[cols] > 0]
#
# Filter data from ep > 0.5
epr = 0.5
combined_data_red = combined_data_red[(combined_data_red.EP < epr)
                                    & (combined_data_red.ep1 < epr)
                                    & (combined_data_red.ep2 < epr)
                                    & (combined_data_red.ep3 < epr)
                                    & (combined_data_red.ep4 < epr)
                                    & (combined_data_red.ep5 < epr)
                                    & (combined_data_red.ep6 < epr)
                                    & (combined_data_red.ep7 < epr)
                                    & (combined_data_red.ep8 < epr)]
#
# List data head
# display(combined_data_red.head())
##
##
# Rotate data
combined_data_3dir = data_rotate(combined_data_red)
##
##
# Save Data files
combined_data.to_csv('./data/'+rock_type+'_compiled_data_level_'+level+'_'+model+'.csv', index=False)
# combined_data_red.to_csv('./data/'+rock_type+'_compiled_data_red_level_'+level+'_'+model+'.csv', index=False)
combined_data_3dir.to_csv('./data/'+rock_type+'_compiled_data_3dir_level_'+level+'_'+model+'.csv', index=False)

,case-name,P,EP,KX,KY,KZ,c1,p1,ep1,kx1,...,ep7,kx7,ky7,kz7,c8,p8,ep8,kx8,ky8,kz8
0,1,0.203290,0.195858,2.0640,2.3188,2.2892,1,0.192573,0.186276,1.37052,...,0.219171,3.33719,2.62803,2.82594,3685,0.194219,0.191112,2.14644,2.23167,1.66391
1,3,0.200972,0.193614,2.0488,2.2914,2.2151,3,0.193239,0.19098,1.68808,...,0.219431,2.75877,2.1629,2.45725,3687,0.190157,0.186364,1.80108,2.31731,1.37947
2,5,0.201519,0.193641,2.0148,2.2800,2.1974,5,0.202113,0.199161,1.656,...,0.212136,2.22447,2.3319,3.158,3689,0.195983,0.19269,1.88412,2.03475,1.38909
3,7,0.202835,0.195556,2.0999,2.3295,2.2449,19,0.189896,0.187198,1.43234,...,0.216275,3.02147,1.94319,1.98856,3703,0.190749,0.185929,1.5157,2.24921,1.96677
4,9,0.201671,0.193953,2.0351,2.2749,2.1776,21,0.191968,0.188707,1.44846,...,0.214281,2.02708,2.24935,2.49396,3705,0.183912,0.180902,1.35623,1.83163,1.60844

The following cubes has no complete results:
Empty DataFrame
Columns: [case-name, P, EP, KX, KY, KZ, c1, p1, ep1, kx1, ky1, kz1, c2, p2, ep2, kx2, ky2, kz2, c3, p3, ep3, kx3, ky3, kz3, c4, p4, ep4, kx4, ky4, kz4, c5, p5, ep5, kx5, ky5, kz5, c6, p6, ep6, kx6, ky6, kz6, c7, p7, ep7, kx7, ky7, kz7, c8, p8, ep8, kx8, ky8, kz8]
Index: []

[0 rows x 54 columns]